/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */

body {
	font-family: 'roboto mono', monospace;
	background-color: #eeeeeb;
}

a {
	text-decoration: none;
	color: inherit;
}

.site-width {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
}

h1 {
	position: fixed;
	bottom: 0;
	background-color: #eeeeeb;
	font-size: 2em;
	z-index: 99;
}

h2 {
	float: left;
	width: 90%;
	margin: 0 5% 0 5%;
	font-size: 1.56em;
	color: #666666;
}

h3 {
	font-size: 1.5em;
	padding-top: 4%;
}

/* nav */

nav {
	float: left;
	width: 100%;
}

nav ul {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 4% 5% 4% 0;
	background-color: #eeeeeb;
	z-index: 99;
}

nav li {
	float: right;
}

.last-name {
	display: none;
}

.logo {
	float: left;
	width: 50%;
}

.nav-list-item {
	display: inline-block;
	padding: 2% 5% 0 0;
	font-size: 1.56em;
	text-decoration: underline;
}

.nav-list-item:hover {
	text-decoration: line-through;
}

/* about */

#about p {
	margin: 32% 0 24% 0;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #1c1c1c;
}

#about {
	float: left;
	width: 90%;
	height: 30%;
	padding: 0 5% 0 5%;
	background-color: #eeeeeb;
}

.intro-full {
	display: inline-block;
	margin-bottom: 8%;
}

.intro-frag {
	display: inline-block;
}

.intro-frag a {
	text-decoration: underline;
}

.intro-frag a:hover {
	text-decoration: line-through;
}

/* projects */

#projects {
	float: left;
	width: 100%;
	margin-bottom: 128%;
	background-color: #eeeeeb;
}

#projects h2 {
	margin-bottom: 8%;
}

.work-list-item h3 {
	padding: 5% 0 5% 5%;
}

.work-list-item img {
	width: 100%;
	display: block;
	position: relative;
}

.work-col-two {
	margin-right: 0;
}

.work-list-item {
	display: block;
	width: 100%;
	margin-bottom: 16%;
	border-bottom: 2px dotted;
	padding-bottom: 0;
	transition: padding-bottom .1s ease-out; }
	.work-list-item:active, .work-list-item:hover {
		padding-bottom: 2px;
		border-bottom: 2px solid; }
	.work-list-item:visited {
		border-bottom: 2px solid;	}

.work-list-button {
	float: left;
	width: 100%;
	margin-top: 4%;
	text-align: center;
	padding-bottom: 4%;
	background-color: #dadacd; }
	.work-list-button:hover {
		background-color: #d0d0be; }

/* work */

#work {
	float: left;
	width: 100%;
	background-color: #eeeeeb;
}

.proj-title {
	float: left;
	height: 20%;
	width: 50%;
	padding: 24% 0 0 0;
	font-size: 2em;
	line-height: 1.5em;
	color: #1c1c1c;
}

.proj-desc {
	float: left;
	height: 20%;
	width: 50%;
	padding: 8% 0 10% 0;
	font-size: 2em;
	line-height: 1.5em;
	color: #1c1c1c;
}

.body-link {
	text-decoration: underline;
}

.body-link:hover {
	text-decoration: line-through;
}

/* project assets */

.project-shots img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 2%
}

.project-shots p {
	margin: 2% 0 16% 0;
	font-size: 2em;
	line-height: 1.5em;
	color: #1c1c1c;
}

/* footer */

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: -1;
	background-color: #1c1c1c;
}

#contact {
	float: left;
	width: 100%;
	padding: 32% 0 40% 0;
	color: #666666;
}

#contact a:hover {
	color: #eeeeeb;
}

#contact h2 {
	margin-bottom: 8%;
}

#contact ul {
	float: left;
	display: block;
	width: 90%;
	margin: 8% 5% 0 5%;
}

.social-list-item {
	margin-top: 8%;
	font-size: 1.2em;
}

.social-list-item:first-child {
	text-decoration: underline;
	margin-top: 0;
	margin-bottom: 4%;
}

.social-list-item:first-child:hover {
	text-decoration: line-through;
}

.social-list-item:hover {
	color: #eeeeeb;
	cursor: pointer;
}

.social-list-item:last-child {
	margin-top: 8%;
}

/* media queries */

@media screen and (min-width: 32em) {

	#about p {
		font-size: 2em;
	}

	.intro-full {
		display: inline-block;
	}
}

@media screen and (min-width: 36em) {

	h1 {
		font-size: 2em;
	}

	h3 {
		font-size: 2em;
	}

	nav ul {
		width: 60%;
		right: 0;
		padding: 4% 5% 4% 0;
	}

	#contact {
		padding-bottom: 32%;
	}

	#projects {
		margin-bottom: 112%;
	}

	.intro-full {
		display: none;
	}

	.logo {
		display: inline-block;
		width: 30%;
		padding: 4% 0 4% 5%;
		font-size: 2em;
	}

	.nav-list-item {
		padding-right: 8%;
	}

	.nav-list-item:first-child {
		padding-right: 0;
	}

	.social-list-item {
		font-size: 1.56em;
	}

	.work-list-item {
		width: 90%;
		margin: 0 5% 8% 5%;
	}

	.work-list-item h3 {
		padding-left: 0;
	}
}

@media screen and (min-width: 46em) {

	h1 {
		height: 4%;
		top:0;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	nav li {
		float: left;
	}

	nav ul {
		float: left;
		width: 45%;
		height: 4%;
		top: 0;
		padding-right: 3%;
	}

	#about p {
		width: 100%;
	}

	#contact {
		padding-bottom: 8%;
	}

	#projects {
		margin-bottom: 80%;
	}

	.last-name {
		display: inline-block;
	}

	.logo {
		width: 47%;
	}

	.nav-list-item {
		padding-right: 8%;
	}

	.nav-list-item:first-child {
		padding-right: 8%;
	}

	.work-list-item {
		float: left;
		width: 42.5%;
	}

	.work-col-two {
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (min-width: 52em) {

	#about p {
		width: 80%;
		margin: 24% 0 16% 0;
	}

	#contact h2 {
		width: 42.5%;
	} /* this floats the header in the left column */

	#contact ul {
		float: left;
		width: 42.5%;
		margin-top: 0;
		margin-left: 0;
	}

	#projects {
		margin-bottom: 48%;
	}
}

@media screen and (min-width: 80em) {

	nav ul {
		display: none;
	}

	.big-contact {
		position: fixed;
		right: 2.5%;
		font-size: 1.56em;
		text-decoration: underline;
		color: #666666;
		padding: 1.2% 0 0 2.5%;
	}

	.big-contact:hover {
		text-decoration: line-through;
		color: #1c1c1c;
	}

	.logo {
		padding-bottom: 0;
	}

	#about {
		width: 100%;
		padding: 0;
	}

	#about p {
		width: 48%;
		margin: 10% 0 4% 5%;
	}

	#work {
		width: 50%;
		margin: 0 0 32% 2.5%;
	}

	#projects {
		position: fixed;
		top: 0;
		right: 0;
		width: 40%;
		margin: 2.5% 0 0 0;
	}

	#projects h2 {
		display: none;
	}

	#projects img {
		display: none;
	}

	#projects .site-width {
		padding-top: 19%;
	}

	.work-list-item {
		display: block;
		width: 100%;
		margin-left: 0;
	}

	.work-list-item h3 {
		margin-left: 5%;
		font-size: 1.6em;
	}

	.work-list-button {
		padding-left: 5%;
		text-align: left;
	}

	footer {
		background-color: #eeeeeb;
	}

	#contact {
		padding: 0 0 4% 0;
	}

	#contact h2 {
		display: none;
	}

	#contact ul {
		width: 95%;
		margin: 0 0 0 5%;
	}

	#contact a:hover {
		color: #1c1c1c;
	}

	.social-list {
		position: relative;
		padding-top: 8%;
	}

	.social-list-item {
		margin-top: 2%;
	}

	.social-list-item:hover {
		color: #1c1c1c;
	}
}
