/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET */

body {
	font-family: 'roboto mono', monospace;
	background-color: #eeeeeb;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus {
	outline: 4px dotted #ee4f2f;
}

.site-width {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
}

h1 {
	position: fixed;
	bottom: 0;
	background-color: #eeeeeb;
	font-size: 2em;
	z-index: 99;
}

h2 {
	float: left;
	width: 90%;
	margin: 0 5% 0 5%;
	font-size: 1.56em;
	color: #808080;
}

h3 {
	font-size: 1.6em;
}

/* nav */

nav {
	float: left;
	width: 100%;
}

nav ul {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 4% 5% 4% 0;
	background-color: #eeeeeb;
	z-index: 99;
}

nav li {
	float: right;
}

.big-contact {
	display: none;
}

.last-name {
	display: none;
}

.logo {
	float: left;
	width: 50%;
}

.logo a {
	color: #666;
}

.logo a:hover {
	color: #1c1c1c;
}

.nav-list-item {
	display: inline-block;
	padding: 2% 5% 0 0;
	font-size: 1.56em;
	text-decoration: underline;
}

.nav-list-item:hover {
	text-decoration: line-through;
}

/* badge animation wip */

.badge-background {
	position: fixed;
	right: -7em;
	bottom: 24em;
	width: 14em;
	z-index: -2;
}

.badge-type {
	position: fixed;
	right: -6em;
	bottom: 25em;
	width: 12em;
	animation-name: spin;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	transform-origin: center;
	display: inline-block;
	z-index: -1;
}
@keyframes spin {
	100% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
}

/* about */

#about {
	float: left;
	width: 90%;
	height: 30%;
	padding: 0 5% 0 5%;
	background-color: #eeeeeb;
}

.bio {
	margin: 32% 0 24% 0;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #1c1c1c;
}

.intro-full {
	display: inline-block;
	margin-bottom: 8%;
}

.intro-frag {
	display: inline-block;
}

.intro-frag a {
	text-decoration: underline;
}

.intro-frag a:hover {
	text-decoration: line-through;
}

/* projects */

#projects {
	float: left;
	width: 100%;
	background-color: #eeeeeb;
}

#projects h2 {
	margin-bottom: 8%;
}

.work-list-item h3 {
	padding: 5% 0 5% 5%;
}

.work-list-item img {
	width: 100%;
	display: block;
	position: relative;
}

.work-col-two {
	margin-right: 0;
}

.work-list-item {
	display: block;
	width: 100%;
	margin-bottom: 16%;
	border-bottom: 2px dotted;
	padding-bottom: 0;
	transition: padding-bottom .2s ease-out; }
	.work-list-item:active, .work-list-item:hover {
		padding-bottom: 2px;
		border-bottom: 4px solid #ee4f2f; }
	.work-list-item:visited {
		border-bottom: 2px solid;	}

.work-list-button {
	background-color: #dadacd;
	float: left;
	padding: 8% 0 8% 0;
	text-align: center;
	transition: all 0.2s;
	width: 100%; }
	.work-list-button:hover {
		background-color: #d0d0be; }
/*
	.work-list-button h3 {
		display: inline-block;
		position: relative;
		transition: 0.2s; }
		.work-list-button h3:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -56px;
			transition: 0.2s;	}

	.work-list-button:hover h3 {
		padding-right: 40px; }
		.work-list-button:hover h3:after {
			opacity: 1;
			right: 0; } */

/* work */

#work {
	float: left;
	width: 100%;
	background-color: #eeeeeb;
}

.back {
	background-color: #dadacd;
	border-radius: 6px;
	cursor: pointer;
	float: left;
	margin-top: 8%;
	padding: 4% 0 4% 0;
 	text-align: center;
	transition: all 0.2s;
 	width: 48%; }
	.back:hover {
		background-color: #d0d0be; }

	.back span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.2s; }
		.back span:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -32px;
			transition: 0.2s; }

	.back:hover span {
		padding-right: 32px; }
		.back:hover span:after {
			opacity: 1;
			right: 0; }

.body-link {
	text-decoration: underline;
}

.body-link:hover {
	text-decoration: line-through;
}

.proj-title {
	float: left;
	width: 100%;
	margin: 14% 0 8% 0;
	font-size: 1.2em;
	color: #1c1c1c;
}

.proj-desc {
	float: left;
	margin-bottom: 24%;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #1c1c1c;
}

details {
	font-size: 1.2em;
	padding: 4% 5% 4% 5%;
	line-height: 1.6em;
	background-color: #ddd;
}

summary {
	font-size: 1.2em;
	border-bottom: solid 4px black;
}

summary:hover {
	cursor: pointer;
}

/* project assets */

video {
	padding-bottom: 4%;
}

#work img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 4%
}

#work p {
	margin: 2% 0 16% 5%;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #1c1c1c;
}

.embed-container {
	position: relative;
	margin-bottom: 8%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/* footer */

#jump {
	float: left;
	width: 100%;
	margin-bottom: 136%;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: -3;
	background-color: #1c1c1c;
}

#contact {
	float: left;
	width: 100%;
	padding: 32% 0 40% 0;
	color: #666666;
}

#contact a:hover {
	color: #eeeeeb;
}

#contact h2 {
	margin-bottom: 8%;
}

#contact ul {
	float: left;
	display: block;
	width: 90%;
	margin: 8% 5% 0 5%;
}

.social-list-item {
	margin-top: 8%;
	font-size: 1.2em;
}

.social-list-item:first-child {
	text-decoration: underline;
	margin-top: 0;
	margin-bottom: 4%;
}

.social-list-item:first-child:hover {
	text-decoration: line-through;
}

.social-list-item:hover {
	color: #eeeeeb;
	cursor: pointer;
}

.social-list-item:last-child {
	margin-top: 16%;
}

/* media queries */

@media screen and (min-width: 480px) {
/* bumped this up to a new breakpt
	#work .half-img {
		width: 49%;
	} */
	.badge-background {
		right: -4em;
		bottom: 26em;
	}

	.badge-type {
		position: fixed;
		right: -3em;
		bottom: 27em;
	}

	.back {
		width: 40%;
		font-size: 1.2em;
	}

	.bio {
		font-size: 2em;
	}

	.intro-full {
		display: inline-block;
	}

	.proj-desc {
		width: 100%;
	}

	.proj-title {
		margin-top: 24%;
		font-size: 2em;
	}

  .work-list-button h3 {
		display: inline-block;
		position: relative;
		transition: 0.2s; }
		.work-list-button h3:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -56px;
			transition: 0.2s;	}

	.work-list-button:hover h3 {
		padding-right: 40px; }
		.work-list-button:hover h3:after {
			opacity: 1;
			right: 0; }
	}

@media screen and (min-width: 719px) {
/* made this breakpoint bc the gap was too large for stacking half imgs */
	#work .half-img {
		width: 49%;
	}

	.badge-background {
		right: -4em;
		bottom: 26em;
		width: 20em;
	}

	.badge-type {
		position: fixed;
		right: -3em;
		bottom: 27em;
		width: 18em;
	}
}

@media screen and (min-width: 959px) {

	details {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 3.2em;
		line-height: 1.6em;
	}

	nav ul {
		width: 60%;
		right: 0;
		padding: 4% 5% 4% 0;
	}

	#work p {
		font-size: 2em;
	}

	#contact {
		padding-bottom: 24%;
	}

	.back {
		font-size: 2em;
	}

	.bio {
		font-size: 3em;
	}

  .intro-full {
		display: none;
	}

	.logo {
		display: inline-block;
		width: 30%;
		padding: 4% 0 4% 5%;
		font-size: 3.2em;
	}

	.nav-list-item {
		padding-top: 1.1%;
		padding-right: 8%;
		font-size: 2.76em;
	}

	.nav-list-item:first-child {
		padding-right: 0;
	}

	.proj-desc {
		font-size: 2em;
	}

	.proj-title {
		font-size: 3em;
	}

	.social-list-item {
		font-size: 2.76em;
	}

	.work-list-item {
		width: 90%;
		margin: 0 5% 8% 5%;
	}

	.work-list-item h3 {
		padding-left: 0;
	}

	.badge-background {
		right: -3em;
		bottom: 56em;
		width: 24em;
	}

	.badge-type {
		position: fixed;
		right: -2em;
		bottom: 57em;
		width: 22em;
	}
}

@media screen and (min-width: 1080px) {

	h1 {
		height: 4%;
		top:0;
	}

	h2 {
		font-size: 2.4em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	nav li {
		float: left;
	}

	nav ul {
		float: left;
		width: 45%;
		height: 4%;
		top: 0;
		padding-right: 3%;
	}

	#work p {
		width: 80%;
		font-size: 1.5em;
	}

	#contact {
		padding-bottom: 8%;
	}

	#projects {
		margin-bottom: 80%;
	}

	.back {
		display: none;
	}

	.last-name {
		display: inline-block;
	}

  .logo {
		width: 47%;
	}

	.nav-list-item {
		padding-right: 8%;
		font-size: 2.24em;
	}

	.nav-list-item:first-child {
		padding-right: 8%;
	}

	.proj-desc {
		margin-bottom: 16%;
		font-size: 1.6em;
	}

	.work-list-item {
		float: left;
		width: 42.5%;
	}

	.work-col-two {
		margin-right: 0;
		margin-left: 0;
	}

	.badge-background {
		right: -3em;
		bottom: 2em;
		width: 14em;
		z-index: 1;
	}

	.badge-type {
		position: fixed;
		right: -2em;
		bottom: 3em;
		width: 12em;
		z-index: 2;
	}
}

@media screen and (min-width: 1280px) {
/* all of this used to be the 1280px breakpoint before absorbing 1440px rules
	#about p {
		width: 80%;
	}

	#contact h2 {
		width: 42.5%;
	}

	#contact ul {
		float: left;
		width: 42.5%;
		margin-top: 0;
		margin-left: 0;
	}

	#projects {
		margin-bottom: 48%;
	}

	.bio {
		margin: 24% 0 16% 0;
	}

	.social-list-item {
		font-size: 1.56em;
	}

	.badge-background {
		right: -1em;
		bottom: 2em;
		width: 16em;
		z-index: 1;
	}

	.badge-type {
		right: 0;
		bottom: 3em;
		width: 14em;
		z-index: 2;
	}
} */
	nav ul {
		display: none;
	}

	.big-contact {
		width: 38%;
		display: inline;
		position: fixed;
		right: 0;
		font-size: 1.56em;
		text-decoration: underline;
		color: #666666;
		padding-top: 4%;
	}

	.big-contact:hover {
		text-decoration: line-through;
		color: #1c1c1c;
	}

	.logo {
		width: 50%;
		padding-bottom: 2%;
	}

	#about {
		width: 100%;
		padding: 0;
	}

	#about p {
		width: 48%;
		margin-left: 5%;
	}

	#work {
		width: 50%;
		margin: 0 0 32% 2.5%;
	}

	#work .half-img {
		width: 100%;
	}

	#projects {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 40%;
		margin: 8% 0 4% 0;
	}

	#projects h2 {
		display: none;
	}

	#projects h3 {
		color: #666666;
	}

	#projects h3:hover {
		color: #1c1c1c;
	}

	#projects img {
		display: none;
	}

	#projects .site-width {
		padding-top: 19%;
	}

	#jump {
		display: none;
	}

	.bio {
		margin-top: 12%;
		margin-bottom: 4%;
		font-size: 2em;
	}

	.proj-title {
		margin-top: 16%;
		margin-bottom: 4%;
	}

	.proj-desc {
		margin-bottom: 8%;
	}

	.work-list-item {
		display: block;
		width: 100%;
		margin-bottom: 2%;
		margin-left: 0;
	}

	.work-list-item h3 {
		margin-left: 5%;
		font-size: 1.6em;
	}

	.work-list-button {
		padding-left: 5%;
		text-align: left;
	}

	footer {
		background-color: #eeeeeb;
	}

	#contact {
		padding: 0 0 3.6% 0;
	}

	#contact h2 {
		display: none;
	}

	#contact ul {
		width: 95%;
		margin: 0 0 0 5%;
	}

	#contact a:hover {
		color: #1c1c1c;
	}

	.social-list {
		position: relative;
		padding-top: 8%;
	}

	.social-list-item {
		margin-top: 2%;
		font-size: 1.56em;
	}

	.social-list-item:last-child {
		margin-top: 8%;
	}

	.social-list-item:hover {
		color: #1c1c1c;
	}

	.badge-background {
		left: 32em;
		bottom: 4em;
		width: 16em;
		z-index: 1;
	}

	.badge-type {
		left: 33em;
		bottom: 5em;
		width: 14em;
		z-index: 2;
	}
}

@media screen and (min-width: 1360px) {

	.social-list-item:first-child {
		margin-bottom: 2%;
	}

	.social-list-item:last-child {
		margin-top: 4%;
	}

}

/* absorbed into 1280px breakpoint
@media screen and (min-width: 1440px) {

	nav ul {
		display: none;
	}

	.big-contact {
		width: 38%;
		display: inline;
		position: fixed;
		right: 0;
		font-size: 1.56em;
		text-decoration: underline;
		color: #666666;
		padding-top: 4%;
	}

	.big-contact:hover {
		text-decoration: line-through;
		color: #1c1c1c;
	}

	.logo {
		width: 50%;
		padding-bottom: 2%;
	}

	#about {
		width: 100%;
		padding: 0;
	}

	#about p {
		width: 48%;
		margin-left: 5%;
	}

	#work {
		width: 50%;
		margin: 0 0 32% 2.5%;
	}
	#work .half-img {
		width: 100%;}

	#projects {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 40%;
		margin: 8% 0 4% 0;
	}

	#projects h2 {
		display: none;
	}

	#projects h3 {
		color: #666666;
	}
	#projects h3:hover {
		color: #1c1c1c;}

	#projects img {
		display: none;
	}

	#projects .site-width {
		padding-top: 19%;
	}

	#jump {
		display: none;
	}

	.bio {
		margin-top: 12%;
		margin-bottom: 4%;
		font-size: 2em;
	}

	.proj-title {
		margin-top: 16%;
		margin-bottom: 4%;
	}

	.proj-desc {
		margin-bottom: 8%;
	}

	.work-list-item {
		display: block;
		width: 100%;
		margin-bottom: 2%;
		margin-left: 0;
	}

	.work-list-item h3 {
		margin-left: 5%;
		font-size: 1.6em;
	}

	.work-list-button {
		padding-left: 5%;
		text-align: left;
	}

	footer {
		background-color: #eeeeeb;
	}

	#contact {
		padding: 0 0 3.6% 0;
	}

	#contact h2 {
		display: none;
	}

	#contact ul {
		width: 95%;
		margin: 0 0 0 5%;
	}

	#contact a:hover {
		color: #1c1c1c;
	}

	.social-list {
		position: relative;
		padding-top: 8%;
	}

	.social-list-item {
		margin-top: 2%;
	}

	.social-list-item:last-child {
		margin-top: 8%;
	}

	.social-list-item:hover {
		color: #1c1c1c;
	}

	.badge-background {
		left: 32em;
		bottom: 4em;
		width: 16em;
		z-index: 1;
	}

	.badge-type {
		left: 33em;
		bottom: 5em;
		width: 14em;
		z-index: 2;
	}
} */
